.admin .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}
.admin .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #ffff;
}

.admin .nav-tabs .nav-link.active {
    color: #495057;
    background-color:#ffff !important;
    border-color: transparent !important;
}
.admin .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
}
.admin .tab-content>.active {
    display: block;
    background: #ffff;
    min-height: 165px;
}
.admin .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}
.admin{
    margin-top: 110px;
    background-color: #495057;

}